.spine {
  width: 100%;
  max-width: var(--container-width);
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--spine);
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}
